.navigation a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
  }
  .navigation {
    background-color: black;
    overflow:hidden;
  }
  .navigation a:hover{ 
    color: red;
  }
  .navigation a:visited{
    color: purple;
  }
  #WELCOME{
    text-align: center;
    color: black;
  }
  #buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  #buttondiv button:hover{
    background-color: yellow;
  }
  #Button{
    width: 100px;
    height: 40px;
    background-color: orange;
    color: white;
  }
#signUp{
 display: flex;
 justify-content: center;
 margin-top: 200px;
 color: purple;
}
#formD{
  border: solid palevioletred 2px;
  padding: 20px;
  width: 200px;
  height: 250px;
  margin-left: 42%;
  background: radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 0%, rgb(255, 237, 216) 90%);
}
.label{
  margin:10px
}
.submit{
  margin:10px;
  margin-left: 60px;
  background-color: rgb(230, 188, 50);
}
.background-image{
  display: flex;
  justify-content: center;
}
.welcome span{
  color: rgb(207, 48, 48);
}
