@media (max-width:650px){
    .navigation{
        height: 30px;
    }
    #nav{
        height: 30px;
    }
    .navigation a{
        padding:6px;
        margin: 2px;
        font-size: 7px;
    }
    .background-image{
        margin: 20px;
        display: flex;
        justify-content: center;
    }
    .background-image img{
        height: 200px;
        width: 93px;
    }
    #signUp{
        display: flex;
        justify-content: center;
    }
   .welcome{
    font-size: 15px;
   }
   .text{
    font-size: 10px;
   }
   #Button{
    height: 25px;
   }
    #WELCOME{
        font-size: 25px;
    }
}